
.topbar{
	background-color: #118BC0;
	display: inline-block;
	overflow: hidden;
	clear: both;
}
.image_box{
	background-color: #118BC0;
	width: 45px;
	display: inline-block;
}
.topbar span{
	float: left;
	display: inline-block;
	vertical-align: center;
}
.login-box{
	background-color: #118BC0;
	color: white;
	text-align: center;
	height: 3em;
	width: 3em;
	float: right;
}
.main{
	background-color: #344051;
	height: 100em;
	box-sizing: 10em;
	padding-top: 10em;
}
h1{
	color: white;
	text-align: center;
	margin-bottom: 2em;
}
h3{
	color: white;
	text-align: center;
	margin-bottom: 2em;
}
.button1{
	background-color: #118BC0;
	height: 5em;
	width: 15em;
	margin: 0 auto 0 auto;
	border: 16px solid #212934;
	box-sizing: 6em;
	text-align: center;
	color: white;
}
.learn-more-arrow{
	background-color: white;
	height: 1em;
	width: 2em;
	margin: 0 auto 0 auto;
}
.main-link1{
	background-color: #ffffff;
	height: 7em;
	width: 20em;
	margin: 0 auto 0 auto;
}
.main-link2{
	background-color: #ffffff;
	height: 7em;
	width: 20em;
	margin: 0 auto 0 auto;
}
.main-link3{
	background-color: #ffffff;
	height: 7em;
	width: 20em;
	margin: 0 auto 0 auto;
}
.freewb{
	background-color: #E8F0F5;
	font-size: 20px;
	text-align: center;
	padding: 1em;
}
.sales-boxes{
	background-color: #D1D3D7;
	height: 100em;
}
.easy-to-use{
	background-color: white;
	height: 227px;
	width: 439px;
	margin: 0 auto 0 auto;
	padding: 5em;
}
.your-own-domain{
	background-color: white;
	height: 10em;
	width: 20em;
	margin: 0 auto 0 auto;
	padding-top: 5em;
}
.seo-friendly{
	background-color: white;
	height: 10em;
	width: 20em;
	margin: 0 auto 0 auto;
	padding: 5em;
}
.percent{
	background-color: #E8F0F5;
	text-align: center;
	vertical-align: center;
}
.percent p{
	font-size: 25px;
	padding-top: 1em;
	padding-bottom: 1em;
}
.create-website{
	background-color: #118BC0;
	height: 5em;
	width: 15em;
	margin: 0 auto 0 auto;
	box-sizing: 6em;
	text-align: center;
	color: white;
}
footer{
	background-color: black;
	text-decoration-color: white;
}
li{
	color: white;
	float: left;
	display: inline-block;
	padding: .2em;
}
.footer div{
	display: block;
	height: 5em;
	width: 10em;
	background-color: #118BC0;
	color: white;
} 




