

.topbar{
	background-color: #118BC0;
	overflow: hidden;
}
.img{
	background-color: #118BC0;
	width: 3em;
	float: left;
}
.topbar span{
	color: white;
	padding: 1em;
	float: left;
}
.login-box{
	background-color: #0070A4;
	color: white;
	text-align: center;
	height: 4em;
	width: 4em;
	float: right;
}
.main{
	background-image: url(https://github.com/TIY-Austin-Front-End-Engineering/mobile-layout-2/blob/master/images/crowd.jpg?raw=true);
	height: 75em;
	padding-top: 1em;
}
h1{
	color: white;
	text-align: center;
	margin-bottom: 2em;
}
h3{
	color: white;
	text-align: center;
	margin-bottom: 5em;
}
.btnHolder{
	height: 5em;
	width: 15em;
	padding-top: 2em;
	margin: auto auto;
	margin-bottom: 5em;
	background-color: none;
	text-align: center;
}
.button1{
	background-color: #118BC0;
	height: 3em;
	width: 13em;
	margin: 0 auto 0 auto;
	padding-top: .5em;
	box-sizing: border-box;
	text-align: center;
}
.learn-more-arrow{
	color: white;
	font-size: 20pt;
	text-align: cemter;
	height: 5em;
	width: 5em;
	display: block;
	margin: 0 auto 0 auto;
	margin-bottom: 5em;
	padding-left: 4em;
}
.main-link1{
	color: white;
	height: 7em;
	width: 20em;
	text-align: center;
	margin: 0 auto 0 auto;
	margin-bottom: 1em;
}
.main-link1 img{
	background color: white;
	height: 2em;
	width: 2em;
	float: left;
}
.main-link2{
	color: white;
	height: 7em;
	width: 20em;
	text-align: center;
	margin: 0 auto 0 auto;
	margin-bottom: 1em;
}
.main-link2 img{
	height: 2em;
	width: 2em;
	float: left;
}
.main-link3{
	color: white;
	height: 7em;
	width: 20em;
	text-align: center;
	margin: 0 auto 0 auto;
	margin-bottom: 1em;
}
.main-link3 img{
	height: 2em;
	width: 2em;
	float: left;
}
.freewb{
	background-color: #E8F0F5;
	font-size: 25px;
	line-height: 1.5;
	text-align: center;
	padding: 1em;
}
.sales-boxes{
	background-color: #D1D3D7;
	padding-bottom: 2em;
	padding-top: 2em;
}
.sales-boxes img{
	height: 3em;
	width: 3em;
	display: block;
	margin: 0 auto 0 auto;
	clear: both;
	border-radius: 50%;
	background-color: #D1D3D7;
	padding: .25em;
}
.easy-to-use{
	background-color: white;
	height: 10em;
	width: 90%;
	margin: 0 auto 0 auto;
	margin-bottom: 1em;
	text-align: center;
	padding-top: 1em;
}
.your-own-domain{
	background-color: white;
	height: 10em;
	width: 90%;
	margin: 0 auto 0 auto;
	margin-bottom: 1em;
	text-align: center;
	padding-top: 1em;

}
.seo-friendly{
	background-color: white;
	height: 10em;
	width: 90%;
	margin: 0 auto 0 auto;
	margin-bottom: 1em;
	text-align: center;
	padding-top: 1em;
}
.best-support{
	background-color: white;
	height: 10em;
	width: 90%;
	margin: 0 auto 0 auto;
	margin-bottom: 1em;
	text-align: center;
	padding-top: 1em;
	padding-bottom: .5em;
}
.premium-plans{
	background-color: white;
	height: 10em;
	width: 90%;
	margin: 0 auto 0 auto;
	margin-bottom: 1em;
	text-align: center;
	padding-top: 1em;
}	
.mil-users{
	background-color: white;
	height: 10em;
	width: 90%;
	margin: 0 auto 0 auto;
	padding-top: 1em;
	padding-bottom: 1.5em;

	text-align: center;
}
.percent{
	background-color: #E8F0F5;
	text-align: center;
	vertical-align: center;
	padding: 1em
}
.percent p{
	font-size: 25px;
	padding-bottom: 1em;
}
.create-website{
	background-color: #118BC0;
	font-size: 14pt;
	height: 2.5em;
	width: 10em;
	padding-top: 1em;
	margin: 0 auto 0 auto;
	text-align: center;
	color: white;
}
footer{
	background-color: black;
	overflow: hidden;
}
li{
	color: white;
	float: ;
	display: inline-block;
	padding: .5em;
}
.auto{
	margin: 0 auto 0 auto;
	background-color: black;
	color: white;
	text-align: center;
	padding: 1em;




