
.topbar{
	background-color: #118BC0;
	height: 4em;
	overflow: hidden;

}
.img{
	background-color: white;
	height: 95%;
	width: 10%;
	float: left;
	display: inline-block;
	
}
.topbar span{
	padding: .2em;
	float: left;
	display: inline-block;
	vertical-align: middle;
}
.login-box{
	background-color: #0070A4;
	color: white;
	text-align: center;
	height: 95%;
	width: 10%;
	float: right;
}
.main{
	background-color: #344051;
	height: 70em;
}
h1{
	color: white;
	text-align: center;
	margin-bottom: 2em;
}
h3{
	color: white;
	text-align: center;
	margin-bottom: 2em;
}
.button1{
	background-color: #118BC0;
	height: 5em;
	width: 15em;
	margin: 0 auto 0 auto;
	margin-bottom: 5em;
	border: 16px solid #212934;
	color: white;
	text-align: center;
}
.learn-more-arrow{
	background-color: white;
	height: 2em;
	width: 2em;
	margin: 0 auto 0 auto;
	margin-bottom: 4em;
	padding: 1em;
}
.main-link1{
	background-color: #ffffff;
	height: 7em;
	width: 20em;
	margin: 0 auto 0 auto;
	margin-bottom: 1em;
}
.main-link2{
	background-color: #ffffff;
	height: 7em;
	width: 20em;
	margin: 0 auto 0 auto;
	margin-bottom: 1em;
}
.main-link3{
	background-color: #ffffff;
	height: 7em;
	width: 20em;
	margin: 0 auto 0 auto;
	margin-bottom: 1em;
}
.freewb{
	background-color: #E8F0F5;
	font-size: 20px;
	text-align: center;
	padding: 1em;
	margin-top: 5em;
}
.sales-boxes{
	background-color: #D1D3D7;
	padding-bottom: 2em

}
.easy-to-use{
	background-color: white;
	height: 10em;
	width: 20em;
	margin: 0 auto 0 auto;
	margin-bottom: 1em;
}
.your-own-domain{
	background-color: white;
	height: 10em;
	width: 20em;
	margin: 0 auto 0 auto;
	margin-bottom: 1em;
}
.seo-friendly{
	background-color: white;
	height: 10em;
	width: 20em;
	margin: 0 auto 0 auto;
	margin-bottom: 1em;
}
.best-support{
	background-color: white;
	height: 10em;
	width: 20em;
	margin: 0 auto 0 auto;
	margin-bottom: 1em;
}
.premium-plans{
	background-color: white;
	height: 10em;
	width: 20em;
	margin: 0 auto 0 auto;
	margin-bottom: 1em;
}	
.mil-users{
	background-color: white;
	height: 10em;
	width: 20em;
	margin: 0 auto 0 auto;
	padding-bottom: 1em;
}
.percent{
	background-color: #E8F0F5;
	text-align: center;
	vertical-align: center;
	padding: 1em
}
.percent p{
	font-size: 25px;
	padding-top: 1em;
	padding-bottom: 1em;
}
.create-website{
	background-color: #118BC0;
	height: 5em;
	width: 15em;
	margin: 0 auto 0 auto;
	box-sizing: 6em;
	text-align: center;
	color: white;
}
footer{
	background-color: black;
	overflow: hidden;
}
li{
	color: white;
	float: ;
	display: inline-block;
	padding: .5em;
}
.auto{
	margin: 0 auto 0 auto;
	background-color: black;
	color: white;
	text-align: center;
	padding: 1em;




